# Directorios de salida de Maven
target/

# Archivos del IDE Visual Studio Code
.vscode/

# Archivos del IDE IntelliJ IDEA (si colaboras con usuarios de IntelliJ)
.idea/
*.iml
*.ipr
*.iws

# Archivos del IDE Eclipse (si colaboras con usuarios de Eclipse)
.classpath
.project

# Archivos del IDE NetBeans (si colaboras con usuarios de NetBeans)
nbproject/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs y temporales
*.log
*.tmp
*.bak
*.swp

# Paquetes empaquetados como JAR
*.jar

# Archivos generados por el wrapper de Maven (considera si los rastreas o no - recomendado rastrear)
mvnw
mvnw.cmd
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties